/* =======================================
   Login
======================================= */

.login-screen{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.login-card{

    width:460px;

    padding:50px;

    text-align:center;

}

.login-logo{

    width:110px;

    margin-bottom:25px;

}

.login-card h1{

    font-size:34px;

    margin-bottom:10px;

}

.login-card p{

    color:var(--text-secondary);

    margin-bottom:35px;

}

.google-button{

    width:100%;

    padding:18px;

    border:none;

    border-radius:18px;

    cursor:pointer;

    font-size:17px;

    background:white;

    color:#111;

    transition:.25s;

}

.google-button:hover{

    transform:translateY(-3px);

}

.version{

    display:block;

    margin-top:35px;

    color:var(--text-secondary);

    font-size:13px;

}

.logoutButton{

    margin-left:15px;

    padding:10px 18px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    background:rgba(255,255,255,.12);

    color:white;

    transition:.25s;

}

.logoutButton:hover{

    background:rgba(255,255,255,.20);

}
